
// @import url('https://fonts.cdnfonts.com/css/euclid-circular-b');

@import "base/base";

@import "components/courses";
@import "components/puzzle-slider";
@import "components/questions";
@import "components/testimonials";
@import "components/videos";
@import "components/contact";
@import "components/sponsors";

@import "layout/header";
@import "layout/footer";

@import "pages/course";
@import "pages/course-details";
@import "pages/articles";
@import "pages/profile";

canvas {
    display: block;
  }


  @mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


@mixin align-center {
  display: flex;
  align-items: center;

}



@mixin flex-column {
  display: flex;
  flex-direction: column;
}


