
// @import url('https://fonts.cdnfonts.com/css/euclid-circular-b');

@import "base/base";

@import "components/courses";
@import "components/puzzle-slider";
@import "components/questions";
@import "components/testimonials";
@import "components/videos";
@import "components/contact";

@import "layout/header";
@import "layout/footer";

@import "pages/course";
@import "pages/course-details";
@import "pages/articles";
@import "pages/profile";


.section-sponsors{
   display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 5.2rem;
    margin-top: 4rem;

    img{

        @media only screen and (max-width: $bp-smaller) {
            
            max-height: 2rem;
          }

          @media only screen and (max-width: $bp-medium) {
            
            max-height: 3rem;
          }
          @media only screen and (max-width: $bp-large) {
            
            max-height: 3.6rem;
          }
    }
}