.section-swiper {
  height: 40.8rem;

  @media only screen and (max-width: $bp-largest) {
    height: 35.8rem;
  }
  .tablet-margin {
    height: 100%;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    height: 100%;
    text-align: center;

    padding: 5.2rem 5.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: grid;
    grid-template-columns: 1fr 1.5fr;

    @media only screen and (max-width: $bp-largest) {
      grid-template-columns: auto;
      padding: 0rem 5.2rem;
    }

    &_container {
      z-index: -99;
      background-color: rgba(57, 112, 206, 0.1);
      width: 100%;
      height: 100%;

      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 2.4rem;
      height: 34.2rem;

      @media only screen and (max-width: $bp-medium) {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.8rem;
      }
    }

    &_title {
      @include flex-column; 
      align-items: flex-start;
      text-align: left;
    
      font-style: bold;
      font-size: 4rem;
      justify-content: center;

      @media only screen and (max-width: $bp-largest) {
       @include flex-center;
        text-align: center;
      }

    
    }

    &_paragraph {
      margin-top: 2.4rem;

      font-style: normal;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 2rem;

      color: rgba(6, 22, 47, 0.6);
    }

    &_puzzles {
      overflow: visible;
      position: relative;

      z-index: 99;
      width: 100%;
      @media only screen and (max-width: $bp-largest) {
        display: none;
      }

      // position: relative;
    }
    &_puzzle1 {
      position: absolute;
      bottom: 40px;
      left: 0px;
    }
    &_puzzle2 {
      position: absolute;
      left: 250px;
      bottom: -30px;
    }
    &_puzzle3 {
      z-index: 99999;

      position: absolute;
      top: -50px;
    }

    &_puzzle4 {
      position: absolute;
      bottom: 20px;
      right: 0;
    }

  }


  .swiper-btn {
    padding: 2rem 3.2rem;

    background: #3970ce;
    border-radius: 16px;
    gap: 1rem;

    font-style: semi-bold;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #ffffff;
    text-transform: uppercase;

    border: none;
    margin-top: 4rem;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
      transform: translateY(-3px);
    }
    @media only screen and (max-width: $bp-smaller) {
      margin-top: 2rem;
    }
  }
}
.swiper-wrapper {
  box-sizing: border-box;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #06162f;
  width: 10px;
  height: 10px;
}
