



$bp-largest: 75em;  //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px
$bp-smallest: 23.5em; //375px



body{
    font-family: "Euclid Circular B";
  font-size: 1.8rem;
  font-weight: 400;
    color: #06162F;
    line-height: 2.3rem;


}
*, 
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    // outline: 1px solid red;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
        
    }

    @media only screen and (max-width: $bp-medium) {
        font-size: 40%;
        
    }
}

@font-face {
    font-family: "Euclid Circular B";
    src: url("../../fonts/Euclid\ Circular\ B\ Regular.ttf Circular B Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap; }
  
  @font-face {
    font-family: "Euclid Circular B";
    src: url("../../fonts/Euclid\ Circular\ B\ Medium.ttf Circular B Medium.ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap; }
  
  @font-face {
    font-family: "Euclid Circular B";
    src: url("../../fonts/Euclid\ Circular\ B\ SemiBold.ttf Circular B SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
    font-display: swap; }

    @font-face {
        font-family: "Euclid Circular B";
        src: url("../../fonts/Euclid\ Circular\ B\ Bold.ttf Circular B SemiBold.ttf");
        font-weight: 700;
        font-style: normal;
        font-display: swap; }

        @font-face {
            font-family: "Euclid Circular B";
            src: url("../../fonts/Euclid\ Circular\ B\ Light.ttf Circular B SemiBold.ttf");
            font-weight: 800;
            font-style: normal;
            font-display: swap; }

    @font-face {
        font-family: 'Product Sans';
        src: url("../../fonts/Product\ Sans\ Regular.ttf");
    }
.tablet-margin{
    max-width: 1360px;
    margin: auto;
    // width: 100%;

    @media only screen and (max-width: $bp-largest) {
       margin: 2.4rem 4.4rem;
        
    }


}
.start-date{
    letter-spacing: -0.02em;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
color: #3970CE;

}
.card-span{
    color: #28BB90;
}
.heading-tertiary.eng-txt{

    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    
    color: #000000;
    display: flex;
    gap: 1.2rem;

}
.heading-tertiary.card-txt{
 
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 23px;
/* identical to box height */

letter-spacing: -0.02em;
padding-top: 0.4rem;


}

.heading-primary{
    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.02em;
margin: 0;

    
}

.btn{
    color: #FFFFFF;
padding: 2rem 3.2rem;
cursor: pointer;
transition: .2s;
&:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: translateY(-2px);
}
}
.paragraph{
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;
margin: 0;
color: rgba(6, 22, 47, 0.6);

}

.heading-secondary{
 
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 23px;

letter-spacing: -0.02em;


}
.heading-secondary.money{
    padding-top: 0.4rem;
}
.heading-quaternary{
margin: 0;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
/* identical to box height */

letter-spacing: -0.02em;

color: rgba(6, 22, 47, 0.6);

}
.heading-quaternary.card-text{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}