@import url("https://fonts.cdnfonts.com/css/euclid-circular-b");
.details {
  position: relative;
  width: 100%;
  height: 100%;

  &_bg {
    position: absolute;
    width: 100%;

    top: 0;
    left: 0;
    z-index: -1;

    background: linear-gradient(87.74deg, #06162f 3.46%, #1c4033 87.44%);

    @media only screen and (max-width: $bp-large) {
      height: 100vh;
    }
    &--decor {
      @media only screen and (max-width: $bp-large) {
        display: none;
      }
    }
  }

  .tablet-margin {
    display: grid;
    // grid-template-columns: 2fr 1fr;
    gap: 5.2rem;

    //   @media only screen and (max-width: $bp-large) {
    //     grid-template-columns: 1fr;

    // }
  }

  &_links {
    display: flex;
    gap: 2.4rem;
    align-items: center;

    &--link {
      text-decoration: none;
      font-size: 16px;
      line-height: 20px;

      color: rgba(255, 255, 255, 0.6);
    }
  }

  &_students {
    display: flex;
    gap: 2.4rem;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #ffffff;

    &--attenders {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      svg path {
        fill: #ffffff;
      }
    }

    &--registers {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      svg path {
        fill: #28bb90;
      }
      &_green {
        color: #28bb90;
      }
    }
    &--language {
      display: flex;
      gap: 0.8rem;
      align-items: center;
    }
  }
  &_header {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    margin-top: 5.2rem;

    @media only screen and (max-width: $bp-large) {
      grid-row: 1;
      grid-column: 1;
    }
  }

  &_info {
    grid-column: 1 / span 2;
    grid-row: 3 / span 4;

    @media only screen and (max-width: $bp-large) {
      grid-column: 1;

      grid-row: 3;
      // margin-top: 5.2rem;
    }
    display: flex;
    flex-direction: column;
    gap: 4rem;

    &--container {
      max-width: 66.8rem;
      padding-left: 4.2rem;
      display: flex;
      flex-direction: column;
      gap: 2.4rem;

      @media only screen and (max-width: $bp-large) {
        max-width: 100%;
      }
    }

    &--text {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: rgba(255, 255, 255, 0.6);
    }

    &--payment {
      &_start {
        display: flex;
        align-items: center;
        gap: 1.6rem;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;

        color: #ffffff;

        span {
          font-family: "Anek Latin", sans-serif;

          font-weight: 700;
          font-size: 14px;
          line-height: 15px;
          letter-spacing: -0.02em;

          color: #3970ce;
        }
      }

      &_pay {
        padding-top: 5.2rem;
        display: flex;
        gap: 2.4rem;

        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          /* identical to box height */

          color: rgba(255, 255, 255, 0.6);
        }
      }
    }

    &--companies {
      margin-top: 3.2rem;
      background: rgba(57, 112, 206, 0.1);
      border-radius: 12px;
      padding: 2.4rem 3.2rem;
      display: flex;
      flex-direction: column;

      p {
        max-width: 41.8rem;
      }

      &_img {
        display: flex;
        align-items: center;
        gap: 3.2rem;
        padding-top: 3.2rem;
        width: 100%;
        flex-wrap: wrap;
      }
    }

    &--guide {
      .course-paragraph {
        display: flex;
        align-items: center;
        gap: 0.8rem;
      }
      &_time {
        display: flex;
        gap: 1.6rem;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;

        color: rgba(6, 22, 47, 0.7);
      }
      &_which-day {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;

        color: rgba(6, 22, 47, 0.5);
      }
      &_days {
        margin-top: 1.6rem;
        border: 1px solid rgba(6, 22, 47, 0.1);
        border-radius: 16px;

        &--day {
          padding: 2.4rem 3.2rem;
          display: flex;
          justify-content: space-between;

          border-bottom: 1px solid rgba(6, 22, 47, 0.1);

          @media only screen and (max-width: $bp-small) {
            flex-direction: column;
          }

          &:last-child {
            border-bottom: none;
          }
          &_left {
            display: flex;
            align-items: center;
            gap: 3rem;
          }
        }
        &--day-theme {
          padding-left: 2.2rem;
          font-weight: 600;
          font-size: 1.6rem;
          line-height: 2rem;
        }
      }
    }

    &--description {
      // margin-bottom: 4rem;

      &_title {
        font-family: "Anek Latin", sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;
        /* identical to box height */

        letter-spacing: -0.02em;
      }
      &_text {
        padding-top: 2.4rem;
        padding-bottom: 4rem;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        /* or 162% */

        color: rgba(6, 22, 47, 0.6);
      }
      &_instructor {
        display: flex;
        background: rgba(6, 22, 47, 0.03);
        border-radius: 12px;
        padding: 0 3.2rem;

        &--imgs {
          background: rgba(255, 229, 0, 0.2);
          border-radius: 906px 906px 0px 0px;
        }
        &--img {
          position: relative;
          top: -2.4rem;
        }

        &--info {
          display: flex;
          flex-direction: column;
          gap: 0.8rem;
          padding: 3.2rem;

          &_word {
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: -0.02em;

            color: #3970ce;
          }

          &_name {
            font-family: "Anek Latin", sans-serif;
            font-weight: 700;
            font-size: 20px;
            line-height: 22px;
            /* identical to box height */

            letter-spacing: -0.02em;
          }
          &_text {
            padding-top: 0.8rem;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
          }
        }
      }
    }
    &--feedback {
      &_title {
        font-family: "Anek Latin", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;

        letter-spacing: -0.02em;
      }
      &_number {
        padding-left: 0.8rem;
        font-weight: 500;
        font-size: 20px;
        line-height: 22px;
        letter-spacing: -0.02em;
        color: rgba(6, 22, 47, 0.5);
      }
      &_cards {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        padding-top: 2.4rem;

        &--card {
          background: #ffffff;
          border: 1px solid rgba(6, 22, 47, 0.1);
          border-radius: 16px;
          padding: 2.4rem 2.4rem 3.2rem;
          display: grid;
          gap: 1.6rem;

          &_person {
            display: flex;
            gap: 1.6rem;
            align-items: center;

            &--name {
              display: flex;
              flex-direction: column;
              gap: 0.6rem;
            }
            &--email {
              font-weight: 400;
              font-size: 14px;
              line-height: 18px;
              /* identical to box height */

              letter-spacing: -0.02em;

              color: rgba(6, 22, 47, 0.6);
            }
            &--feedback {
              font-weight: 400;
              font-size: 16px;
              line-height: 26px;
            }
          }
        }
      }
      //   &_number {
      //     font-weight: 500;
      //     color: rgba(6, 22, 47, 0.5);
      //   }
    }
    &--cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      // grid-template-rows: 1fr 1fr;
      padding-top: 2.4rem;
      gap: 2.5rem;

      @media only screen and (max-width: $bp-small) {
        grid-template-columns: auto;
      }

      &_card {
        max-width: 42.3rem;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        @media only screen and (max-width: $bp-small) {
          max-width: 100%;
        }

        &--txt {
          font-weight: 600;
          font-size: 18px;
          line-height: 23px;
          /* identical to box height */

          letter-spacing: -0.02em;
          text-decoration: none;
          color: #06162f;
        }
        &--text {
          display: flex;
          align-items: center;
          gap: 0.8rem;
        }
        &--span {
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          /* identical to box height */

          letter-spacing: -0.02em;

          color: #28bb90;
        }

        &--img {
          border: 1px solid rgba(6, 22, 47, 0.1);
          border-radius: 16px;
          padding: 3.4rem 0;
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  &_buy {
    grid-column: 3;
    grid-row: 1 / span 3;

    @media only screen and (max-width: $bp-large) {
      grid-row: 2;
      grid-column: 1;
      max-width: 437px;
      justify-self: center;
    }

    background: #ffffff;
    border: 1px solid rgba(6, 22, 47, 0.1);
    border-radius: 12px;
    margin-top: 5.2rem;
    height: 100%;
    &--tablet-margin {
      padding: 0 2.4rem;
    }
    &--price {
      text-align: center;
      padding: 0 0 1.6rem 0;

      @media only screen and (max-width: $bp-large) {
        padding-top: 3.2rem;
      }
    }

    &--video {
      position: relative;
      padding: 0.3rem;

      @media only screen and (max-width: $bp-large) {
        display: none;
      }

      &_responsive {
        display: none;
        position: relative;
        @media only screen and (max-width: $bp-large) {
          display: block;
        }
        &--img {
          width: 100%;
          height: 100%;
        }
        &--button {
          width: 60px;
          height: 60px;
          position: absolute;
          top: 40%;
          left: 45%;
          border-radius: 50%;
          padding: 1.9rem 1.9rem 1.9rem 2.2rem;
          background: #06162f;
          align-items: center;
          display: flex;
          justify-items: center;
          svg {
            width: 30px;
            height: 30px;
          }
        }
      }

      &_img {
        width: 100%;
        height: 100%;
      }
      &_button {
        position: absolute;
        top: 40%;
        left: 45%;
        border-radius: 50%;
        padding: 1.9rem 1.9rem 1.9rem 2.2rem;
        background: #06162f;
        align-items: center;
        display: flex;
        justify-items: center;
      }
    }

    &--buttons {
      display: grid;
      gap: 1.6rem;
      &_addtocart-btn {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.6rem;
        padding: 2rem 3.2rem;
        background: #06162f;
        border-radius: 8px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;

        color: #ffffff;
        grid-column: 1 / span 2;
      }
      &_like-btn {
        cursor: pointer;

        grid-column: 3;

        padding: 2rem;
        gap: 1.6rem;
        border-radius: 8px;
        background: #ffffff;
        border: 1px solid #06162f;
      }

      &_buynow-btn {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.6rem;

        grid-column: 1 / span 3;
        grid-row: 2;
        background: #ffffff;
        border: 1px solid #06162f;
        border-radius: 8px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;

        color: #06162f;
        padding: 2rem;
      }
    }
    &--paying {
      padding: 1.6rem 0 3.2rem 0;
      font-family: "Euclid Circular B";
      font-style: italic;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      /* or 143% */

      text-align: center;

      color: rgba(6, 22, 47, 0.6);
    }

    &--include {
      &_title {
        font-family: "Anek Latin", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;
        letter-spacing: -0.02em;
        color: #06162f;
        padding: 0 2.1rem;
        border-left: 3px solid #06162f;
      }
      &_list {
        margin-top: 3.2rem;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;

        list-style: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 143% */

        color: rgba(6, 22, 47, 0.8);
        li {
          display: flex;
          align-items: center;
        }
        svg {
          margin-right: 1.7rem;
        }
        &--span {
          font-weight: 500;
          color: #06162f;
        }
      }
    }

    &--calendar {
      margin-top: 4rem;
      &_title {
        font-family: "Anek Latin", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;
        /* identical to box height */

        letter-spacing: -0.02em;

        /* #06162F */

        color: #06162f;
        padding: 0 2.1rem;
        border-left: 3px solid #06162f;
      }
    }
  }
}

.course-title {
  font-family: "Anek Latin";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: -0.02em;

  /* #06162F */

  color: #06162f;
}

.course-paragraph {
  padding-top: 1.2rem;
  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  color: rgba(6, 22, 47, 0.6);
}

#calendar {
  height: 20rem;
}

.wrapper {
  background: #fff;
  width: 389px;
  height: 333px;
  border-radius: 10px;
}
.wrapper header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 3rem 1rem;
  border-bottom: 1px solid rgba(6, 22, 47, 0.1);
}

header .current-date {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  color: #06162f;
}
header .icons span {
  margin: 0 1px;
  color: #878787;
  font-size: 1.9rem;
  cursor: pointer;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

// header .icons span svg:hover{
//   background: #f2f2f2;

// }
header .icons span:last-child {
  margin-right: -10px;
}
.calendar {
  padding: 20px;
}
.calendar ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}

.calendar .days {
  margin-bottom: 20px;
}
.calendar .weeks li {
  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 11px;
  /* identical to box height, or 139% */

  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #06162f;
}

.calendar ul li {
  position: relative;
  width: calc(100% / 7);
}
.calendar .days li {
  z-index: 1;
  cursor: pointer;
  margin-top: 30px;
}
.days li.inactive {
  color: #aaa;
}
.days li.active {
  color: #fff;
}

.calendar .days li::before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.days li:hover::before {
  background: #f2f2f2;
}

.days li.active::before {
  background-color: #9b59b6;
}
