.section-border{

    border: 1px solid #ECECEF;

}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.profile-settings{

    .tablet-margin{
        max-width: 89.8rem;
    }
margin-top: 5rem;

    &_info{
        display: flex;
        gap: 2.4rem;
        align-items: center;

        &--text{
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
        }
    }
    img{

        border-radius: 50%;
        outline: 1.5px solid rgba(6, 22, 47, 0.2);
        
  outline-offset: 6px;
    }
    


}
.booked-courses{
    margin: 5.2rem 0;
}

.order-history{
    margin-top: 5.2rem;

    table{
        width: 100%;
        margin-top: 3.2rem;
        border-collapse: collapse;
        text-align: left;

        th{
            font-weight: 600;
font-size: 1.8rem;
line-height: 2.3rem;
/* identical to box height */

letter-spacing: -0.02em;

/* #06162F */

color: #06162F;
        }

        tr{
            border-bottom: 1px solid #ECECEF;
  

            td{
                padding: 1.6rem 0;
                font-weight: 400;
font-size: 1.8rem;
line-height: 2.3rem;
/* identical to box height */


color: rgba(6, 22, 47, 0.6);
                
                .download-btn{
                
background: rgba(57, 112, 206, 0.1);
border-radius: 4.4rem;
padding: 1rem 1.6rem;
gap: 1rem;
font-weight: 500;
font-size: 1.8rem;
line-height: 2.3rem;
/* identical to box height */


color: #3970CE;
border: none;

            }
            }
       
          
      
    } 
    tr:first-child,
    tr:last-child{
        border-bottom: none;
    }
}
}